.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 33%;
    width: 33%;
    position: absolute;
  }